// Title Font, set it to font family you want.
$font-family-headings = LXGW WenKai,Georgia, sans

// Set it to font family you want.
$font-family-base = LXGW WenKai,"Microsoft YaHei", Verdana, sans-serif

// Code Font.
$code-font-family = LXGW WenKai,"Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace

// Font size of articles.
$font-size-base = 16px

// Font size of table and code.
$table-font-size = 13px

$tag-cloud-start = #aaa ; 
$tag-cloud-end = #111 ; 
$tag-cloud-start-dark = #555 ; 
$tag-cloud-end-dark = #eee ;